/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
  background-color: #ff9c08;
  background-image: url(img/beer.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

body{
  color: #fff;
  padding-top: 1.2%;
}
a{
  text-decoration: none;
  color: black;
}
#app-root{
  background-color: #ff9c08;
}
#svg_beer{
  text-align:center;
  padding: 3em 0;
}
  /* ================ tableItemDetails ========= */
#tableItemDetails{
  width: 80%;
  margin: auto;
}
 .thTableItemDetails {
   background-color: #4CAF50;
   color: #ffffff;
 }

.trTableItemDetails{
  width: 20px;
}
.rowCheck{
  width: 20px;
}

.rowText{
  width: 50%;
}
.rowDelete{
  width: 30px;
}
