/* You can add global styles to this file, and also import other style files*/
html{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: black;
}
#app-root{
  background-color: #90C3D4;
}
#svg_beer{
  text-align:center;
  padding: 3em 0;
}

.columnDate p-calendar input{
  width: 124px;
}
