/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
  background-color: #ff9c08;
  /*background-image: url(img/beer.svg);*/
  background-repeat: no-repeat;
  background-position: center center;
}

body{
  padding-top: 1.2%;
  background-color: #ff9c08;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: black;
}
#app-root{
  background-color: #ff9c08;
}
#svg_beer{
  text-align:center;
  padding: 3em 0;
}
