<!-- add list form & task caption -->
<section class="form-add-list container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <form (ngSubmit)="createList(newListName.value); newListName.value=''">
          <input type="text" #newListName placeholder="Saisir une nouvelle liste ..."/>
        </form>
        <button (click)="createList(newListName.value); newListName.value=''; newItemLabel.focus()" class="btn btn-default btn-sm addBtn"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Ajouter</button>
      </div>
      <div class="col-lg-6">
        <ul class="points">
          <li><span class="point yellow"></span>tâches non terminées</li>
          <li><span class="point red"></span>tâches échouées</li>
          <li><span class="point green"></span>tâches réalisées</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- display lists -->
<section>
  <app-todo-list *ngFor="let list of getLists()" [list]="list" [clock]="list.clock"></app-todo-list>
</section>
