<section id="list-todo-item" [style.backgroundColor]="getColor()">
  <input style="float: right;margin-top:10px;margin-right:10%;" id="rechercheFiltre" type="text" placeholder="Rechercher" (change)="filtrerTache();" />
  <h3>
    {{getName()}}
  </h3>

  <table id="tableItemDetails">
    <th class="thTableItemDetails">
     <tr>
       <td class="columnDelete"></td>
       <td class="columnAdd" width="100%">
        <form (ngSubmit)="createItem(newItemLabel.value); newItemLabel.value=''">
          <!--<label>Add a new item:</label>-->
          <input type="text" #newItemLabel placeholder="Entrée..."/>
          <input id="rechercheFiltre" type="text" placeholder="Rechercher" (change)="filtrerTache();" />
        </form>
      </td>
     </tr>
    </th>
    <tbody>
      <tr *ngFor="let item of getItems(); let i = index" class="trTableItemDetails">
          <app-todo-item
                       [clock]  = "item.clock"
                       [item]   = "item"
                       [listId] = "list.id"
                       [index]  = "i"
                       [edit]   = "getEdit()"
                       [color]="getColor()">
          </app-todo-item>
      </tr>
    </tbody>
  </table>
  <div id="btn-grp">

    <button class="btn btn-warning" (click)="setEdit()"><i class="fa fa-wrench fa-lg"></i> Edit</button>
    <button class="btn btn-danger " (click)="deleteAll()"><i class="fa fa-trash-o fa-lg"></i> Delete all</button>
  </div>

</section>


