<section id="list-todo-item"  [style.backgroundColor]="getColor()">
  <input id="rechercheFiltre" type="text" placeholder="Rechercher" (input)="filtrerTache();" />
  <a [routerLink]="['/lists']">
    <i class="fa fa-chevron-circle-left fa-3x"></i>
  </a>
  <h3 id="title">
    {{getName()}}
  </h3>

  <!--<div class="container">
    <div class="col-lg-12 addItem">
      <form (ngSubmit)="createItem(newItemLabel.value); newItemLabel.value=''">
        <input type="text" #newItemLabel placeholder="Saisir une nouvelle tâche..."/>
      </form>
      <button (click)="createItem(newItemLabel.value); newItemLabel.value=''; newItemLabel.focus()" class="btn btn-default btn-sm"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Ajouter tâche</button>
    </div>
  </div>-->

  <table id="tableItemDetails"> <!--class="container"-->
    <th class="thTableItemDetails">
     <tr>
       <form (ngSubmit)="createItem(newItemLabel.value); newItemLabel.value=''">
         <input type="text" #newItemLabel placeholder="Saisir une nouvelle tâche..."/>
       </form>
       <button (click)="createItem(newItemLabel.value); newItemLabel.value=''; newItemLabel.focus()" class="btn btn-default btn-sm"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Ajouter tâche</button>

     </tr>
    </th>
    <tbody pDroppable="tache">
      <tr *ngFor="let item of getItems(); let i = index" class="trTableItemDetails" >
          <app-todo-item
                       pDraggable="tache"
                       [clock]  = "item.clock"
                       [item]   = "item"
                       [listId] = "list.id"
                       [index]  = "i"
                       [color]="getColor()">
          </app-todo-item>
      </tr>
    </tbody>
    
  </table>
</section>


