section{
  height:100%;
}

#btn-grp{
  float:right;
  margin:20px 10% 20px 0;
  height:auto;
}


#list-todo-item{
  padding: 0px 10px 5px 10px;
}
button{
  /*color:white;*/
}
h3{
  margin-top:15px;
  padding-top:15px;
}
/* ================ tableItemDetails ========= */
#tableItemDetails{
  width: 50%;
  margin: auto;
}
/*
.columnAdd{
  background-color: #4CAF50;
}*/
/*.columnAdd{
  border: solid 1px black;
  border-bottom: solid 2px black;
  padding:5px 0px 5px 5px;
}*/
.trTableItemDetails{
  vertical-align: middle;
}

.invisible{
  display: none;
  visibility: hidden;
}

.visible{
  display: initial;
  visibility: visible;
}

#rechercheFiltre{
  float: right;
  font-size: 16px;
}

h3#title{
  margin-left: 1%;
  display:inline-block;
  vertical-align: middle;
}

a{
  text-decoration: none;
  color: black;
}

.newItem {
  margin-left: 20%;
  width: 45%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  margin-left: 5px;
  padding: 10px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}

.whiteBackground{
  background-color: white;
}

.marginBottom{
  margin-bottom: 30px;

}
