<section id="list-todo-item">
  <input id="rechercheFiltre" type="text" placeholder="Rechercher" (change)="filtrerTache();" />
  <a [routerLink]="['/lists']">
    <i class="fa fa-chevron-circle-left fa-4x"></i>
  </a>
  <h3 id="title">
    {{getName()}}
  </h3>

  <table id="tableItemDetails">
    <th class="thTableItemDetails">
     <tr>
       <td class="columnDelete"></td>
       <td class="columnAdd" width="100%">
        <form (ngSubmit)="createItem(newItemLabel.value); newItemLabel.value=''">
          <!--<label>Add a new item:</label>-->
          <input type="text" #newItemLabel placeholder="Entrée..."/>
        </form>
         <button (click)="createItem(newItemLabel.value); newItemLabel.value=''; newItemLabel.focus()" class="btn btn-default">Ajouter tâche</button>
      </td>
     </tr>
    </th>
    <tbody>
      <tr *ngFor="let item of getItems(); let i = index" class="trTableItemDetails">
          <app-todo-item
                       [clock]  = "item.clock"
                       [item]   = "item"
                       [listId] = "list.id"
                       [index]  = "i"
                       [color]="getColor()">
          </app-todo-item>
      </tr>
    </tbody>
  </table>
</section>


