section{
  height:100%;
}

#btn-grp{
  float:right;
  margin:20px 10% 20px 0;
  height:auto;
}


#list-todo-item{
  padding: 0px 10px 5px 10px;
}
button{
    /*color:white;*/
}
h3{
  margin-top:15px;
  padding-top:15px;
}
/* ================ tableItemDetails ========= */
#tableItemDetails{
  width: 80%;
  margin: auto;
}
.thTableItemDetails {
  background-color: white;
}
/*
.columnAdd{
  background-color: #4CAF50;
}*/
.columnAdd{
  border: solid 1px black;
  border-bottom: solid 2px black;
  padding:5px 0px 5px 5px;
}
.trTableItemDetails{
  vertical-align: middle;
}

.invisible{
  display: none;
  visibility: hidden;
}

.visible{
  display: initial;
  visibility: visible;
}

#rechercheFiltre{
  float: right;
  margin-top:10px;
  margin-right:10%;
}

h3#title{
  margin-left: 1%;
  display:inline-block;
  vertical-align: middle;
}

a{
  text-decoration: none;
  color: black;
}

.addItem{
  background-color: white;
}
