<section class="ligne"
         (mouseleave)="mouseOnButton = false;"
         (mouseover)="mouseOnButton = true;"
          xmlns="http://www.w3.org/1999/html"
         (dblclick)="display=true">
  <!-- columns table -->

  <td class="colorDate" [ngStyle]="colorDate()"><i class="fa fa-calendar" aria-hidden="true" *ngIf="haveDate()"></i></td>
  <td class="columnComment"><i class="fa fa-comment" aria-hidden="true" *ngIf="haveComment()"></i> </td>
  <!--<td class="columnNumber">{{index+1}}</td>-->
  <td class="columnCheck">
          <p-triStateCheckbox [ngModel]="item.checked"
                              (ngModelChange)="check(item.checked)">
          </p-triStateCheckbox>
  </td>
  <td class="columnText">{{item.label}}</td>
  <td class="columnDelete" >
    <p-confirmDialog #cd>
      <p-footer>
      <button type="button" pButton icon="fa-close" label="Non" (click)="cd.reject()"></button>
      <button type="button" class="ui-button-danger" pButton icon="fa-check" label="Oui" (click)="cd.accept()"></button>
      </p-footer>
    </p-confirmDialog>
    <!--<i class="fa fa-trash-o fa-3" aria-hidden="true" (click)="confirm()"></i>-->
    <button class="buttonTest" [ngClass]="{'activeButton': mouseOnButton}" (click)="display=true" pButton icon="fa fa-eye fa-3" label="Détails"></button>
    <button class="buttonTest ui-button-danger" [ngClass]="{'activeButton': mouseOnButton}" (click)="confirm()" pButton icon="fa fa-trash-o fa-3" label="Supprimer"></button>
  </td>
  <!------------------------------------------------------------------------------------------ -->
  <!-- sidebar bar -->
  <p-sidebar [(visible)]="display" position="right" >
    <mat-slide-toggle (click)="editLabel2()"
                      color="warn"
                      matTooltip="Tooltip!"
                      matTooltipPosition="below">{{getEdition()}}</mat-slide-toggle>
    <HR>
    <div class="sidebar">
      <h1 *ngIf="!isEditingLabel()">{{item.label}}</h1>
      <form  *ngIf="isEditingLabel()" (input)="setLabel(newLabel.value)" >
        <input #newLabel type="text"
               [value]="item.label"
               [disabled]="!editingLabel"
                />
      </form>
      <p matTooltip="Tooltip!"
         matTooltipPosition="below">A faire avant le :</p>
      <label *ngIf="!isEditingLabel()">{{dateToString()}}</label>
      <p-calendar    *ngIf="isEditingLabel()"
                     dateFormat="dd/mm/yy"
                     [ngModel]="getDateEnd()"
                     (onSelect)="setDateEnd($event)"
                     [showTime]="true"
                     showButtonBar="true"
                     [showIcon]="true"
                     title="Date de fin de la tâche" >
      </p-calendar>
      <p>Commentaire :</p>
      <form>
        <textarea
                  class="comment"
                  [(ngModel)]="item.data.comment"
                  (blur)="updateComment()"
                  [disabled]="!editingLabel"
                  name="comment" size="35"></textarea>
      </form>
    </div>
  </p-sidebar>
</section>
