form {
  display: inline;
}
.hvr:hover{
  cursor:pointer;
}
td.columnNumber{
  width: 20px;
  height: 25px;
  text-align: center;
  /*border-bottom: solid 1px black;*/

}

td{
  vertical-align: middle;
}

.ligne{
  padding: 5px;
}

.ligne:hover{
  background-color: #DBDBDB;
}

.columnCheck{
  width: 40px;
  text-align: center;
  /*border-bottom: solid 1px black;*/
}
.columnText{
  width: 50%;
  /*border-bottom: solid 1px black;*/
}
.comment{
  height: 150px;
  width: 250px;
  resize: none;
}

.colorDate{
  width: 20px;
}

.columnComment{
  width: 15px;

}

.columnDelete{
  /*float: right;
  margin-top: -15px;*/
}
.fa-trash-o{
  cursor : pointer;
  width: 20%;
  color: #F03434;
  float: left;
  size: 36px;
}

.sidebar{
  height: 100%;
}

.activeButton {
  opacity: 1 !important;
}

.buttonTest {
  opacity: 0;
}



/*::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: blue; /*replace with your color*/
/*}*/

/*::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: skyblue;  /*replace with your color*/
/*}*/



