form {
  display: inline;
}
.hvr:hover{
  cursor:pointer;
}
td.columnNumber{
  width: 20px;
  height: 25px;
  text-align: center;
  /*border-bottom: solid 1px black;*/

}

td{
  vertical-align: middle;
}

td.colorDate{
  width:5px;
}

.columnCheck{
  width: 40px;
  text-align: center;
  /*border-bottom: solid 1px black;*/
}
.columnText{
  width: 50%;
  /*border-bottom: solid 1px black;*/
}
.comment{
  height: 30px;
  margin-left:50px;
}

.columnDelete{
  float: right;
  margin-top: -15px;
}
.fa-trash-o{
  cursor : pointer;
  width: 20%;
  color: #F03434;
  float: left;
  size: 36px;
}

.sidebar{
  height: 100%;
}

.activeButton {
  opacity: 1 !important;
}

.buttonTest {
  opacity: 0;
}




